<div class="container">
  @defer (when isVisible) {
  <app-defer-child-1 />

  {{ 'This is a text, I need dot instead of comma' | removeComma }}
  <hr>
  }
  <!-- @error {
  <div class="alert alert-danger" role="alert">
    Something went wrong!
  </div>
  } -->

  <!-- 🍿 HINT: use placeholder -->
  <!-- @placeholder {
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  } -->

  <br>
  <button (click)="toggleVisibility()" class="btn btn-sm btn-primary">
    Load Component
  </button>
</div>

<hr>
<!-- 🪐HINT: interaction -->

<!-- <div class="container">
  @defer (on interaction(btn)) {
  <app-defer-child-1 />
  <app-defer-child-2 />

  {{ 'This is a text, I need dot instead of comma' | removeComma }}
  <hr>
  }

  <button #btn class="btn btn-sm btn-primary">
    Load Component
  </button>
</div> -->


<!-- 🪐HINT: viewport + placeholder -->

<!-- <div class="custom-container">
  Just a container placeholder 😂😂
</div>

@defer (on viewport) {
<div class="sub-container">
  <app-defer-child-1 />
  <app-defer-child-2 />
</div>
} @placeholder {
<div class="sub-container">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
} -->
