<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">
      Lazy Loading: The
      superpower of performance
      🚀🚁🚁🚀
    </a>
  </div>
</nav>

<div class="container mt-5">
  <button type="button" class="btn btn-success" routerLink="/">
   Home 🏠
  </button>
  <button type="button" class="btn btn-success ms-3" routerLink="/books">
    Awesome dogs 🐕‍🦺
  </button>
  <button type="button" class="btn btn-success ms-3" routerLink="/standalone">
    Standalone 😎
  </button>
  <button type="button" class="btn btn-success ms-3" routerLink="/observer">
    Observer 👀
  </button>
  <button type="button" class="btn btn-success ms-3" routerLink="/defer">
    Verschieben 😂
  </button>
</div>


<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
